/* GLOBAL */
@font-face {
  font-family: 'Open Sans';
  src: local("OpenSans"),
  url('../fonts/openSans.woff2') format('woff2'),
  url('../fonts/openSans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local("OpenSans-Semibold"), local("OpenSansSemibold"),
  url('../fonts/openSansSemibold.woff2') format('woff2'),
  url('../fonts/openSansSemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local("OpenSans-Bold"), local("OpenSansBold"),
  url('../fonts/openSansBold.woff2') format('woff2'),
  url('../fonts/openSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local("OpenSans-Italic"), local("OpenSansItalic"),
  url('../fonts/openSansItalic.woff2') format('woff2'),
  url('../fonts/openSansItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

* {
    box-sizing: border-box;
  }
  
body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus { 
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.section-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.section-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.is-hidden {
  display: none;
}

.is-open {
  display: block;
}

.custom-link {
  position: relative;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.overflow--hidden {
  overflow: hidden;
}


/* HEADER */
.header {
  background-color: #000000;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 26px 0 29px;
}

.header__burger {
  display: none;
}

.header__burger svg:nth-child(2n) {
  display: none;
}

.header__logo {
  padding-top: 4px;
  margin-right: 9.3vw;
  transition: outline 0.3s ease-in-out;
}

.header__logo:focus {
  outline: 1px solid #7943A4
}

.burger__menu {
  display: flex;
}

.header__nav {
  margin-right: auto;
}

.header__menu {
  display: flex;
}

.header__item {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.header__item:not(:last-child) {
  margin-right: 62.5px;
}

.header__link {
  position: relative;
  z-index: 1;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header__link::before {
  content: "";
  position: absolute;
  top: -4px;
  bottom: -4px;
  right: -4px;
  left: -4px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: -1;
}

.header__link:focus-visible:before {
  background-color: #7943A4;
}

.header__link:hover {
  color: #C283F3;
}

.header__link:active {
  color: #7943A4;
  background-color: transparent;
}

.header__search {
  display: none;
}

.header__close {
  display: none;
}

.header__form {
  display: none;
}

.header__sign-in {
  position: absolute;
  right: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  z-index: 1;
}

.header__sign-in::before {
  content: "";
  position: absolute;
  top: -4px;
  bottom: -4px;
  right: -4px;
  left: -4px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: -1;
}

.header__sign-in:focus-visible:before {
  background-color: #7943A4;
}

.header__sign-in .header__sign-img path{
  transition: fill 0.3s ease-in-out;
}

.header__sign-in:hover {
  color: #C283F3;
}

.header__sign-in:hover .header__sign-img path{
  fill: #C283F3;
}

.header__sign-in:active {
  color: #9D5CD0;
  background-color: transparent;
}

.header__sign-in:active .header__sign-img path{
  fill: #9D5CD0;
}

.header__sign-img {
  position: relative;
  right: 1px;
}

/* HERO */
.hero {
  position: relative;
}

.hero__container {
  margin: 0 auto;
}

.hero__swiper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2px;
  z-index: -1;
}

.hero__swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__slide-1 {
  background-image: url("../img/hero-slide1.jpg");
}

.hero__slide-2 {
  background-image: url("../img/hero-slide2.jpg");
}

.hero__slide-3 {
  background-image: url("../img/hero-slide3.jpg");
}

.hero__content {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  padding-top: 68px;
  padding-bottom: 124px;
}

.hero__menu {
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
}

.hero__menu-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-height: 70px;
  padding-top: 26px;
  padding-bottom: 28px;
  align-items: center;
}

.hero__menu-items {
  display: flex;
  width: 64.8%;
  padding-right: 3px;
  justify-content: space-between;
}

.hero__submenu {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  padding: 40px;
  top: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.hero__subitem {
  position: relative;
  max-width: 220px;
  max-height: 40px;
  margin-bottom: 20px;
  padding: 11px 0 11px 14px;
  padding-right: 124px;
  padding-top: 11px;
  background-position: center;
  background-size: contain;
}

.hero__link {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.hero__link:focus::after {
  border: 2px solid #9D5CD0;
}

.hero__link:hover::after {
  border: 2px solid #9D5CD0;
}

.hero__link:active::after {
  opacity: 0.4;
  background-color: #C283F3;
  border: 2px solid #D1A9F0;
}

.hero__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.hero__subitem-1 {
  background-image: url("../img/hero-subitem-1.jpg");
}

.hero__subitem-2 {
  background-image: url("../img/hero-subitem-2.jpg");
}

.hero__subitem-3 {
  background-image: url("../img/hero-subitem-3.jpg");
}

.hero__subitem-4 {
  background-image: url("../img/hero-subitem-4.jpg");
}

[data-simplebar] {
  overflow: auto;
}

.scroll {
  padding: 0px;
  padding-right: 0;
  width: 240px;
  height: 220px;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  color: #000;
  background-color: #000;
  opacity: 1;
}

.simplebar-content-wrapper {
  padding-right: 20px;
}

.simplebar-scrollbar.simplebar-visible {
  width: 2px;
  padding-top: 5px;
  background-color: #fff;
  opacity: 1;
}

.hero__menu-btn {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background-color: inherit;
  border: none;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero__menu-btn::before {
  content: "";
  position: absolute;
  top: -4px;
  bottom: -4px;
  right: -4px;
  left: -4px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: -1;
}

.hero__menu-btn:focus-visible:before {
  background-color: #7943A4;
}

.hero__menu-btn svg {
  transition: transform 0.3s ease-in-out;
}

.hero__menu-btn--active svg {
  transform: rotate(180deg);
}

.hero__menu-btn--active + .hero__submenu {
  display: block;
}

.hero__menu-btn svg path {
  transition: stroke 0.3s ease-in-out;
}

.hero__menu-btn:focus {
  outline: transparent;
}

.hero__menu-btn:hover {
  color: #9D5CD0;
}

.hero__menu-btn:hover svg path {
  stroke: #9D5CD0;
}

.hero__menu-btn:active {
  color: #7943A4;
  background-color: transparent;
}

.hero__menu-btn:active svg path {
  stroke: #7943A4;
}

.hero__search {
  position: relative;
}

.hero__search-btn {
  position: absolute;
  top: 4px;
  left: -35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero__search-btn {
  outline: none;
}

.hero__search-row {
  position: relative;
  max-width: 222px;
  margin: 0;
  margin-bottom: 1px;
  padding-bottom: 4px;
  padding-right: 18px;
  top: 2px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  background-color: transparent;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.hero__search-row:focus {
  outline: none;
}

.hero__search-row:focus::placeholder {
  color: transparent;
}

.hero__search-row:hover {
  border-bottom: 1px solid #C283F3;
}

.hero__search-btn svg:hover {
  border-bottom: 1px solid #C283F3;
}

.hero__search-row:active {
  border-bottom: 1px solid #7943A4;
}

.hero__search .hero__search-btn svg path, 
.hero__search .hero__search-btn svg rect {
  transition: fill 0.3s ease-in-out;
}

.hero__search:hover .hero__search-btn svg path, 
.hero__search:hover .hero__search-btn svg rect {
  fill: #C283F3;
}

.hero__search:active .hero__search-btn svg path, 
.hero__search:active .hero__search-btn svg rect {
  fill: #7943A4;
}


.hero__search-btn:focus svg path,
.hero__search-btn:focus svg rect {
  fill: #C283F3
}

.hero__title {
  max-width: 597px;
  margin: 0;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}

.hero__descr {
  max-width: 579px;
  margin: 0;
  margin-bottom: 91px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__email-btn {
  position: relative;
  max-width: 314px;
  padding: 22.5px 35px;
  background-color: #9D5CD0;
  border: none;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.hero__email-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 3px solid #D1A9F0;
  opacity: 0;
  border-radius: 100px;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.hero__email-btn:focus {
  outline: none;
}

.hero__email-btn:focus-visible::before {
  border: 2px solid #C283F3;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  opacity: 1;
}

.hero__email-btn:hover::before {
  opacity: 1;
}

.hero__email-btn:active:not(:focus-visible) {
  background-color: #7943A4;
}

/* ABOUT */
.about__content {
  padding-top: 78px;
  padding-bottom: 71px;
}

.about__descr {
  max-width: 1080px;
}

/* GALLERY */
.gallery {
  padding: 80px 0;
  padding-bottom: 12px;
  background-image: url("../img/gallery-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__title {
  color: #FFFFFF;
}

.gallery__content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.gallery__menu {
  position: relative;
  display: flex;
  width: 25%;
  flex-direction: column;
}

.gallery__descr {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.choices__inner {
  min-height: 40px;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  background: transparent;
  transition: background-color 0.3s ease-in-out;
}

.choices__item.choices__item--choice.is-selected.choices__placeholder.choices__item--selectable {
  display: none;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 5px;
}

.choices:hover .choices__inner {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices {
  transition: background-color 0.3s ease-in-out;
}

.choices.is-focused {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown {
  border-radius: 6px;
  background: transparent;
}

.choices__placeholder  {
  opacity: 1;
}

.choices__list--single {
  padding-top: 2px;
  padding-left: 7.5px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: transparent;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable {
  padding-left: 21px;
  padding-top: 10px;
  font-size: 16px;
  color: #999999;
}

.choices__list--dropdown .choices__item--selectable:not(:last-child) {
  border-bottom: 1px solid #FFFFFF;
}

.choices[data-type*=select-one]:after {
  content: '';
  right: 15px;
  width: 7px;
  height: 7px;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open:after{
  top:70%;
  border-right: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-left: none;
  border-bottom: none;
}

.choices:focus .choices__inner{
  background-color: transparent;
}

.gallery__checkbox-list {
  position: absolute;
  left: 0;
  bottom: 68px;
}

.gallery__checkbox-container {
  display: flex;
  flex-direction: column;
}

.gallery__checkbox:not(:last-child) {
  margin-bottom: 0px;
}

.gallery__checkbox {
  position: relative;
  padding-bottom: 1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  cursor: pointer;
}

.gallery__checkbox:focus-within .gallery__checkbox-input + span{
  border: 1px solid #C283F3;
}

.gallery__checkbox:focus-within .gallery__checkbox-input + span + .gallery__checkbox-text {
  color: #C283F3;
}

.gallery__checkbox-input {
  opacity: 0;
  margin-right: 7px;
}

.gallery__checkbox-input + span {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
  transition: border 0.3s ease-in-out;
}

.gallery__checkbox-input:checked + span {
  border: 1px solid #C283F3;
}

.gallery__checkbox-input:hover + span {
  border: 1px solid #C283F3;

}

.gallery__checkbox-input:active + span {
  border: 1px solid #C283F3;
}

.gallery__checkbox-text {
  display: inline;
  margin: 0;
  transition: color 0.3s ease-in-out;
}

.gallery__checkbox-input:checked + span + .gallery__checkbox-text {
  color: #C283F3;
}

.gallery__checkbox-input:hover + span + .gallery__checkbox-text {
  color: #C283F3;
}

.gallery__checkbox-input:active + span + .gallery__checkbox-text {
  color: #C283F3;
}

.gallery__checkbox-input:checked + span::before {
  content: '';
  border: 2px solid #C283F3;
  border-radius: 100px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.gallery__swiper-container {
  position: relative;
  top: -65px;
  width: 72%;
}

.gallery__swiper {
  padding-top: 35px;
  width: 100%;
  overflow: hidden;
}

.gallery__slider-navigation {
  position: relative;
  display: flex;
  top: -35px;
  left: -4px;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 150px;
}

.gallery__swiper-slide {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.gallery__swiper-slide::before {
  position: absolute;
  content: "";
  top: 25px;
  bottom: 25px;
  right: 25px;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  background-image: url("../img/resize.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 81px 79px;
  transition: opacity 0.3s ease-in-out;
}

.gallery__swiper-slide:focus::before,
.gallery__swiper-slide:hover::before {
  opacity: 1;
}

.gallery__swiper-slide::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__swiper-slide:active::after {
  opacity: 1;
}

.gallery__swiper-button-next.swiper-button-disabled, 
.gallery__swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
}

.gallery__swiper-button-prev {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #666666;
  cursor: pointer;
  z-index: 11;
  transition: background-color 0.3s ease-in-out, border 0.1s ease-in-out;
}

.gallery__swiper-button-prev::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  left: 40%;
  top: 36%;
  border: none;
  border-left: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  transform: rotate(-45deg);
}

.gallery__swiper-button-next {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #666666;
  cursor: pointer;
  z-index: 11;
  transition: background-color 0.3s ease-in-out, border .1s ease-in-out;
}

.gallery__swiper-button-next::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  left: 30%;
  top: 36%;
  border: none;
  border-left: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  transform: rotate(135deg);
}

.gallery__swiper-button-prev::after {
  display: none;
}

.gallery__swiper-button-next::after {
  display: none;
}

.gallery__swiper-button-prev:focus, 
.gallery__swiper-button-next:focus {
  border: 2px solid #000000;
  outline: none; 
}

.gallery__swiper-button-prev:hover, 
.gallery__swiper-button-next:hover {
  background-color: #9D5CD0;
}

.gallery__swiper-button-prev:active, 
.gallery__swiper-button-next:active {
  border: 2px solid #000000;
  background-color: #7943A4;
}

.gallery__swiper-pagination {
  bottom: 0px;
  color: #FFFFFF;
}

/* CATALOG */


.catalog__container {
  max-width: 1600px;
  padding: 80px 0 82px;
}

.catalog__descr {
  max-width: 1080px;
  margin-bottom: 38px;
}

.catalog__content {
  position: relative;
  display: flex;
  width: 100%;
}

.catalog__content-left {
  position: relative;
  max-width: 749px;
  width: 50%;
  margin-right: 50px;
}

.catalog__tab {
  display: none;
}

.catalog__tab--active {
  display: block;
}

.catalog__artist-photo {
  width: 100%;
  margin-bottom: 30px;
}

.catalog__artist-name {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.catalog__artist-period {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.catalog__artist-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.catalog__content-right {
  max-width: 800px;
  width: 50%;
}

.ui-accordion .ui-accordion-header {
  margin: 0;
  padding: 42px 0 37px;
  border: none;
  border-top: 1px solid #CACACA;  
  border-radius: 0;
  background-color: transparent;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.catalog__period.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons {
  padding-top: 40px;
}

.ui-accordion .ui-accordion-header:hover {
  border-top: 1px solid #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.ui-accordion-header-active,
.ui-accordion-header-hover,
.ui-accordion-header {
  transition: border 0.3s ease-in-out;
}

.ui-accordion .ui-accordion-header:hover + div + .ui-accordion-header-active {
  border-top: 1px solid transparent;
}

.ui-accordion .ui-accordion-header:active {
  border-top: 1px solid #7943A4;
  border-bottom: 1px solid #7943A4;
}

.ui-accordion .ui-accordion-header:hover .ui-icon{
  background-image: url("../img/accordion-arrow-hover.svg");
}

.ui-accordion .ui-accordion-header:last-child {
  border-bottom: 1px solid #CACACA;
}

.ui-accordion .ui-accordion-header-active{
  border-top: 1px solid #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.catalog__period-text {
  max-width: 210px;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;;
}

.ui-accordion .ui-accordion-header:hover .catalog__period-text {
  color: #7943A4;
}

.ui-accordion .ui-accordion-header-active .catalog__period-text {
  color: #7943A4;
}

.ui-accordion .ui-state-focus.ui-accordion-header:active .catalog__period-text {
  background-color: transparent;
  color: #7943A4;
}

.ui-accordion .catalog__period.ui-state-focus .catalog__period-text {
  background-color: #9D5CD0;
  color: #FFFFFF;
}

.ui-accordion .ui-accordion-content {
  padding: 25px 0;
  border: none;
  overflow: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.ui-accordion h3:last-of-type {
  border-bottom: 1px solid #CACACA;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Open Sans', sans-serif;
}

.catalog__period.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons {
  padding-top: 42px;
  padding-bottom: 37px;
}

.catalog__artists-container {
  display: flex;
  max-height: 310px;
  padding-right: 68px;
  padding-left: 2px;
  flex-flow: column wrap;
}

.catalog__artist {
  padding: 0;
  margin-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}


.catalog__artist:focus {
  background-color: #9D5CD0;
  color: #FFFFFF;
  outline: none;
}

.catalog__artist--active  {
  color: #7943A4;
  background-color: transparent;
}

.catalog__artist--active:focus  {
  color: #7943A4;
  background-color: transparent;
}

.catalog__artist:hover {
  text-decoration: underline;
}

.catalog__artist:active {
  color: #7943A4;
  background-color: transparent;
  text-decoration: none;
}

.catalog__period {
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #333333;
}

.ui-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: calc(50% - 20px);
  background-image: url("../img/accordion-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background-image 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: url("../img/accordion-arrow-active.svg");
  transform: rotate(180deg);
}

.ui-state-focus {
  outline: none;
}

.ui-state-focus > .ui-icon {
  background-image: url("../img/accordion-arrow-hover.svg");
}

.catalog__nothing {
  padding-left: 200px;
  background-image: url("../img/nothing-in.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}

.catalog__nothing-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.catalog__nothing-descr {
  max-width: 275px;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.catalog__nothing-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0
}

.ui-widget-content .catalog__nothing-link {
	color: #9D5CD0;
}

/* EVENTS */
.events {
  margin: 0 auto;
  margin-bottom: 82px;
  max-width: 1920px;
}

.events__container {
  position: relative;
  max-width: 1600px;
}

.events__swiper {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.events__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.events__swiper-pagination {
  display: none;
}

.events__swiper-slide {
  margin: auto;
  position: relative;
  border: 1px solid #CACACA;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.events__slide-content {
  padding: 13px 50px 48px;
}

.events__comment {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events__slide-title {
  max-width: 400px;
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.events__slide-descr {
  margin: 0;
  margin-bottom: 88px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.events__slide-link {
  position: absolute;
  bottom: 38px;
  left: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.events__slide-1 {
  background-image: url("../img/events-slide-1.jpg");
}

.events__slide-2 {
  background-image: url("../img/events-slide-2.jpg");
}

.events__slide-3 {
  background-image: url("../img/events-slide-3.jpg");
}

.events__slide-4 {
  background-image: url("../img/events-slide-4.jpg");
}

.events__slide-5 {
  background-image: url("../img/events-slide-5.jpg");
}

.events__swiper-button-prev {
  position: absolute;
  padding: 0;
  width: 50px;
  height: 50px;
  top: 430px;
  left: -25px;
  background-image: url("../img/accordion-arrow.svg");
  transform: rotate(90deg);
  border-radius: 100px;
  transition: background-image 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 100;
  cursor: pointer;
}

.events__swiper-button-next {
  position: absolute;
  padding: 0;
  width: 50px;
  height: 50px;
  top: 430px;
  right: -25px;
  background-image: url("../img/accordion-arrow.svg");
  transform: rotate(-90deg);
  border-radius: 100px;
  transition: background-image 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 100;
  cursor: pointer;
}

.events__swiper-button-prev.swiper-button-disabled,
.events__swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.events__swiper-button-prev::after {
  display: none;
}

.events__swiper-button-next::after {
  display: none;
}

.events__swiper-button-prev:focus, 
.events__swiper-button-next:focus {
  background-image: url("../img/accordion-arrow-active.svg");
  outline: none; 
}

.events__swiper-button-prev::before,
.events__swiper-button-next::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: border 0.3s ease-in-out;
  border-radius: 100px;
  z-index: 1000;
}

.events__swiper-button-prev:active::before, 
.events__swiper-button-next:active::before {
  border: 2px solid #9D5CD0;
}

.events__swiper-button-prev:hover, 
.events__swiper-button-next:hover {
  background-image: url("../img/accordion-arrow-hover.svg");
}

.custom-link::before {
  position: absolute;
  content: "";
  top: -2px;
  bottom: -5px;
  right: -2px;
  left: -2px;
  background-color: #9D5CD0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.custom-link:focus {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.custom-link:focus::before{
  opacity: 1;
}

.custom-link:hover {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.custom-link:active {
  color: #333333;
  border-bottom: 1px solid #333333;
}

/* PROJECTS */
.projects {
  margin-bottom: 80px;
}

.projects__descr {
  margin-bottom: 20px;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.projects__subtitle {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.projects__swiper-container {
  position: relative;
  padding: 0 75px;
}

.projects__swiper {
  overflow: hidden;
}

.projects__swiper-slide {
  height: 150px;
  border: 1px solid #CACACA;
}

.projects__slider-img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  transition: filter 0.3s ease-in-out;
}

.projects__swiper-slide:focus {
  border: 1px solid #9D5CD0;
}

.projects__swiper-slide:hover .projects__slider-img {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

.projects__swiper-slide:active  .projects__slider-img{
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

.projects__swiper-slide:active {
  outline: 1px solid #9D5CD0;
}

.projects__swiper-button-prev {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 82px;
  background-image: url("../img/projects-btn.svg");
  border-radius: 100px;
  transform: rotate(180deg);
  transition: background-image 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.projects__swiper-button-next {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: 82px;
  background-image: url("../img/projects-btn.svg");
  border-radius: 100px;
  transition: background-image 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.projects__swiper-button-prev.swiper-button-disabled,
.projects__swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.projects__swiper-button-prev::after {
  display: none;
}

.projects__swiper-button-next::after {
  display: none;
}

.projects__swiper-button-prev:focus, 
.projects__swiper-button-next:focus {
  background-image: url("../img/projects-btn-focus.svg");
  outline: none; 
}

.projects__swiper-button-prev:hover, 
.projects__swiper-button-next:hover {
  background-image: url("../img/projects-btn-hover.svg");
}

.projects__swiper-button-prev:active, 
.projects__swiper-button-next:active {
  background-image: url("../img/projects-btn-active.svg");
}

.tippy-box[data-theme~='custom'] {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background-color: #9D5CD0;
  color: #FFFFFF;
}


.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #9D5CD0;
}
.tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #9D5CD0;
}
.tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #9D5CD0;
}
.tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #9D5CD0;
}

.projects__tooltip {
  position: relative;
  top: 2px;
  display: inline-block;
  cursor: pointer;
}

.projects__tooltip::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.projects__tooltip:focus {
  outline: none;
}

.projects__tooltip:focus svg{
  outline: none;
}

.projects__tooltip svg:focus{
  outline: none;
}

.projects__tooltip svg .tooltip-color-1,
.projects__tooltip svg .tooltip-color-2 {
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.projects__tooltip:focus svg .tooltip-color-1 {
  fill: #D1A9F0;
}

.projects__tooltip:hover svg .tooltip-color-1 {
  fill: #D1A9F0;
}

.projects__tooltip:active svg .tooltip-color-1 {
  fill: #9D5CD0;
  stroke: #9D5CD0;
}

.projects__tooltip:active svg .tooltip-color-2 {
  fill: #FFFFFF;
}

.projects__popup {
  visibility: hidden;
  position: absolute;
  width: 264px;
  padding: 8px 11px;
  bottom: 100%;
  left: -125px;
  background-color: #9D5CD0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  opacity: 0;
  color: #FFFFFF;
}

.projects__popup::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 8px;
  bottom: 0;
  left: 125px;
  transform: rotate(45deg);
  background-color: #9D5CD0;
}

.projects__tooltip .projects__popup {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip--active .projects__popup {
  opacity: 1;
  visibility: visible;
}

.projects__link {
  color: #9D5CD0;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.projects__link:focus {
  color: #FFFFFF;
  background-color: #9D5CD0;
}

.projects__link:hover {
  border-bottom: 1px solid #9D5CD0;
}

.projects__link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
  background-color: transparent;
}

/* CONTACTS */
.contacts {
  border: 1px solid #CACACA;
}

.contacts__container {
  max-width: 1600px;
  padding: 34px 0 39px;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__place {
  margin: 0;
  padding-bottom: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.contacts__street {
  max-width: 256px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.contacts__form {
  position: relative;
  display: flex;
  padding-top: 3px;
  align-items: center;
}

.contacts__input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contacts__input:nth-child(1) {
  margin-right: 20px;
}

.contacts__input:nth-child(2) {
  margin-right: 20px;
}

.contacts__input input {
  width: 100%;
  max-width: 270px;
  max-height: 50px;
  padding: 8px 78px 10px 20px;
  border: 1px solid #333333;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
  transition: background-color 0.3s ease-in-out;
}

.contacts__input input:focus,
.contacts__input input:hover {
  background-color: #EAEAEA;
  outline: none;
}

.contacts__form-button--small {
  display: none;
}

.contacts__form-button {
  max-width: 329px;
  padding: 10px 32px 12px 34px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #9D5CD0;
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
  cursor: pointer;
}

.contacts__form-button:focus {
  outline: 4px solid #7943A4;
  border: none;
}

.contacts__form-button:hover {
  color: #FFFFFF;
  background-color: #9D5CD0;
}

.contacts__form-button:active {
  color: #FFFFFF;
  background-color: #7943A4;
}

.js-validate-error-label {
  position: absolute;
  padding-left: 25px;
  padding-bottom: 5px;
  top: -20px;
  order: -1;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D11616;
}

.contacts__socials {
  padding-top: 3px;
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.contacts__whatsup {
  margin-right: 16px;
}

.contacts__link {
  transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}

.contacts__link:focus,
.contacts__link:hover {
  opacity: 0.5;
}

.contacts__link:active svg{
  border: 1px solid #9643A4;
  border-radius: 100px;
}

.contacts__link:active {
  opacity: 1;
}

.contacts__map-container {
  width: 100%;
}

.contacts__map {
  width: 100%;
  height: 696px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* FOOTER */
.footer {
  background-color: #000;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 47px 0 48px;
}

.footer__logo {
  transition: outline 0.3s ease-in-out;
}

.footer__logo:focus {
  outline: 1px solid #7943A4
}

.footer__socials {
  display: flex;
}

.footer__social svg path {
  transition: fill 0.3s ease-in-out;
}

.footer__social:focus svg path {
  fill: #FFFFFF;
}

.footer__social:hover svg path {
  fill: #FFFFFF;
}

.footer__social:active svg path {
  fill: #9D5CD0;
}

.footer__social:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 1639px) {
  .container {
    max-width: 95vw;
  }
}

@media (max-width: 1199px) {
  /* body { 
    overflow: -moz-scrollbars-none; 
  }

  body { 
    -ms-overflow-style: none; 
  }

  body::-webkit-scrollbar { 
    width: 0 !important 
  } */

  .container {
    max-width: 924px;
  }

  .header {
    position: relative;
  }

  .header__container {
    position: static;
    justify-content: space-between;
    max-width: 934px;
    max-height: 100px;
  }

  .header__burger {
    display: block;
    padding-top: 8px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .header__logo {
    margin: 0;
    padding: 6px 17px 0 0 ;
  }

  .burger__menu {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    top: -100vh;
    left: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    transition: top 0.5s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .burger__menu--active {
    top: 0;
  }

  .header__close {
    display: block;
    padding: 0;
    margin-bottom: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .header__menu {
    flex-direction: column;
  }

  .header__sign-in {
    text-align: center;
    position: static;
    margin-top: auto;
    max-width: 115px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
  }

  .header__sign-in::before {
    position: relative;
  }

  .header__item {
    text-align: left;
    margin-bottom: 16px;
  }

  .header__search {
    display: block;
    position: relative;
    padding: 0;
    padding-top: 8px;
    right: 4px;
    background-color: transparent;
    border: none;
    opacity: 1;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .header__search--closed {
    visibility: hidden;
    opacity: 0;
  }

  .header__form {
    display: flex;
    position: absolute;
    height: 100px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .header__form--opened {
    opacity: 1;
    visibility: visible;
  }

  .header__search-btn {
    display: block;
    position: relative;
    padding: 0;
    padding-top: 8px;
    right: 4px;
    background-color: inherit;
    border: none;
  }

  .header__search-row {
    height: 30px;
    width: 60vw;
    margin-right: 10px;
    color: #FFFFFF;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    outline: none;
    order: -1;
  }

  .hero__menu {
    display: none;
  }

  .hero__search {
    display: none;
  }

  .hero__content {
    padding-top: 112px;
  }

  .hero__title {
    margin-bottom: 11px;
  }

  .hero__descr {
    margin-top: 0;
    margin-bottom: 132px;
    max-width: 661px;
  }

  .hero__swiper {
    height: 670px;
  }

  .hero__swiper-slide {
    background-position: bottom;
  }

  .hero__slide-1 {
    background-image: url("../img/hero-slide1-1024.jpg");
  }
  
  .hero__slide-2 {
    background-image: url("../img/hero-slide2-1024.jpg");
  }
  
  .hero__slide-3 {
    background-image: url("../img/hero-slide3-1024.jpg");
  }

  .about__content {
    padding-top: 72px;
    padding-bottom: 70px;
  }

  .gallery {
    padding-top: 81px;
    padding-bottom: 13px;
  }

  .gallery__menu {
    width: 30.5%;
  }

  .choices__list--dropdown {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .gallery__swiper-container {
    width: 64.5%;
  }

  .gallery__swiper-slide {
    padding-left: 3px;
  }

  .gallery__slider-navigation {
    left: -7px;
    top: -34px;
  }

  .gallery__checkbox-list {
    position: static;
    padding-top: 82px;
  }

  .gallery__checkbox-input {
    margin-right: 6px;
  }

  .catalog__container {
    padding-bottom: 80px;
  }

  .catalog__descr {
    margin-bottom: 40px;
  }

  .catalog__artists-container {
    padding: 0;
    max-height: 400px;
  }

  .catalog__artist {
    margin-right: 65px;
  }

  .events {
    padding-top: 1px;
  }
 
  .events__slide-content {
    padding: 10px 34px 0;
  }

  .events__comment {
    margin-bottom: 6px;
    text-align: right;
    font-weight: 400;
  }

  .events__slide-title {
    margin-bottom: 6px;
  }

  .events__slide-descr {
    margin-bottom: 107px;
  }

  .events__slide-link {
    left: 34px;
    bottom: 48px;
  }

  .events__wrapper {
    margin-bottom: 29px;
  }

  .events__swiper-pagination {
    display: block;
    margin: 0 auto;
    width: 37px;
  }

  .events__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 35px;
    display: flex;
    justify-content: space-between;
  }

  .events__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
    margin: 0;
  }

  .events__swiper-button-next,
  .events__swiper-button-prev {
    display: none;
  }
  
  .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    margin: 0;
  }

  .swiper-pagination-bullet-active {
    background-color: #666666;
  }

  .projects__swiper-container {
    padding: 0 53px;
  }

  .projects__swiper-slide {
    height: 128px;
  }

  .projects__slider-img {
    max-height: 40%;
  }

  .swiper-button-next,
  .swiper-button-prev {
     top: 54%;
  }

  .contacts__container {
    padding-top: 42px;
  }

  .contacts__content {
    flex-wrap: wrap;
  }

  .contacts__location {
    max-width: 256px;
  }

  .contacts__place {
    margin-bottom: 0;
  }

  .contacts__street {
    margin-bottom: 26px;
  }

  .contacts__form-button {
    max-width: 343px;
    padding: 12px 39px 12.5px 42px;
    line-height: 24px;
  }

  .contacts__form {
    margin-bottom: 27px;
  }

  .contacts__whatsup {
    margin-right: 16px;
  }

  .contacts__map {
    height: 700px;
  }

  .footer__container {
    padding: 40px 0 36px;
  }

  .footer__social svg {
    height: 60px;
    width: 60px;
  }

  .footer__social:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 959px) {
  .container {
    max-width: 668px;
  }

  .header__container {
    max-width: 680px;
  }

  .header__burger {
    padding-top: 8px;
  }

  .header__search {
    padding-top: 8px;
  }

  .non-target {
    width: 27px;
    height: 27px;
  }

  .hero__slide-1 {
    background-image: url("../img/hero-slide1-768.jpg");
  }

  .hero__slide-2 {
    background-image: url("../img/hero-slide2-768.jpg");
  }

  .hero__slide-3 {
    background-image: url("../img/hero-slide3-768.jpg");
  }

  .gallery {
    padding-bottom: 13px;
  }

  .gallery__content {
    flex-direction: column;
    justify-content: center;
  }

  .gallery__swiper {
    padding-top: 39px;
  }

  .choices {
    margin-bottom: 40px;
    width: 281px;
  }

  .gallery__menu {
    max-width: 100%;
  }

  .gallery__checkbox-list {
    padding-top: 0;
    margin-bottom: 90px;
  }

  .gallery__slider-navigation {
    left: -9px;
  }

  .gallery__swiper-container {
    width: 100%;
  }

  .gallery {
    padding-bottom: 14px;
    background-image: url("../img/gallery-bg-768.jpg");
  }

  .catalog__container {
    padding-bottom: 70px;
  }

  .catalog__descr {
    margin-bottom: 20px;
  }

  .catalog__artist-photo {
    margin-bottom: 28px;
  }
  
  .catalog__artist-name {
    margin-bottom: 8px;
  }

  .ui-accordion .ui-accordion-header {
    padding-top: 40px;
    padding-bottom: 39px;
  }

  .catalog__artists-container {
    max-height: 310px;
    overflow-x: hidden;
  }

  .catalog__artist {
    margin-right: 57.5px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 24px 0;
  }

  .catalog__content {
    flex-direction: column;
  }

  .catalog__content-left {
    width: 100%;
    margin-right: 0;
    padding-top: 52px;
  }

  .catalog__content-right {
    width: 100%;
    order: -1;
  }

  .events {
    margin-bottom: 79px;
  }

  .events__comment {
    margin-bottom: 6px;
  }
  
  .events__swiper-slide {
    max-height: 683px;
  }
  
  .events__slide-content {
    padding: 10px 18px 0 37px;
  }

  .events__slide-descr {
    margin-bottom: 250px;
  }

  .events__slide-link {
    left: 36px;
    bottom: 46px;
  }

  .events__swiper-button-next,
  .events__swiper-button-prev {
    display: none;
  }
  
  .events__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 60px;
  }

  .projects {
    margin-bottom: 80px;
  }

  .projects__swiper-slide {
    height: 106px;
  }

  .projects__slider-img {
    max-height: 52%;
    max-width: 82%;
  }

  .projects__title {
    padding-top: 3px;
  }

  .projects__descr {
    margin-bottom: 28px;
  }

  .projects__subtitle {
    margin-bottom: 30px;
  }

  .contacts__container {
    padding-top: 41px;
  }

  .contacts__street {
    margin-bottom: 28px;
  }

  .contacts__input:nth-child(1) {
    margin-right: 20px;
  }

  .contacts__input:nth-child(2) {
    margin-right: 0;
  }

  .contacts__form {
    flex-wrap: wrap;
  }

  .contacts__input {
    margin-bottom: 12px;
    margin-right: 0;
  }

  .contacts__input input {
    max-width: 325px;
    margin-right: 0;
    padding-right: 120px;
    padding-top: 11px;
    padding-left: 21px;
  }

  .contacts__form-button {
    max-width: 313px;
    padding: 11.5px 23.5px 12.5px 28px;
  }

  .contacts__subtitle {
    margin-bottom: 5px;
  }

  .contacts__map {
    height: 699px;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 90vw;
  }

  .catalog__artist {
    margin-right: 0;
  }

  .contacts__input {
    width: 48%;
  }

  .contacts__input input {
    width: 100%;
    padding-right: 0;
  }

  .events__swiper-slide {
    max-height: 750px;
  }

  .events__slide-descr {
    margin-bottom: 350px;
  }
}

@media (max-width: 599px) {
  .header__container {
    padding: 12px 0;
    max-height: 45px;
  }

  .header__burger {
    padding-top: 2px;
  }

  .header__burger svg:nth-child(1) {
    display: none;
  }

  .header__burger svg:nth-child(2) {
    display: block;
    margin-top: -3px;
    margin-left: -6px;
  }

  .header__logo {
    padding-top: 5px;
  }

  .header__search {
    padding-top: 2px;
  }

  .header__search svg {
    max-width: 18px;
    max-height: 18px;
    margin-right: -4px;
  }

  .header__form {
    height: 45px;
  }

  .header__item {
    font-size: 16px;
    line-height: 32px;
  }

  .header__sign-in {
    padding: 10px 25px;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__content {
    padding-top: 30px;
    padding-bottom: 45px;
  }

  .hero__swiper {
    height: 312px;
  }

  .hero__slide-1 {
    background-image: url("../img/hero-slide1-320.jpg");
  }

  .hero__slide-2 {
    background-image: url("../img/hero-slide2-320.jpg");
  }

  .hero__slide-3 {
    background-image: url("../img/hero-slide3-320.jpg");
  }

  .hero__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  .hero__descr {
    margin: 0 auto;
    margin-bottom: 42px;
    max-width: 265px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
  }

  .hero__email-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    padding: 11px 16px 14.5px 19px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
  }

  .about__content {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;  
    margin-bottom: 12px;
  }

  .section-descr {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding-top: 50px;
    padding-bottom: 5px;
  }

  .gallery__menu {
    width: 100%;
  }

  .gallery__descr {
    margin-bottom: 5px;
  }

  .choices {
    width: 290px;
    margin-bottom: 30px;
  }

  .gallery__checkbox-list {
    width: 250px;
    margin-bottom: 25px;
  }

  .gallery__swiper-container {
    top: auto;
  }

  .gallery__swiper {
    position: relative;
    padding-top: 5px;
    padding-bottom: 100px;
    height: 467px;
  }

  .gallery__swiper-slide {
    padding-left: calc((100% - 286px) / 2);
  }

  .gallery__slider-navigation {
    position: absolute;
    bottom: 52px;
    top: auto;
    left: calc((100% - 150px) / 2);
  }

  .catalog__container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
  }

  .catalog__descr {
    display: none;
  }

  .ui-accordion .ui-accordion-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .catalog__period-text {
    font-size: 18px;
    line-height: 32px;
  }

  .catalog__period.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons {
    padding: 20px 0 19px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 20px 0 20px;
  }

  .ui-icon {
    width: 30px;
  }

  .catalog__content-left {
    padding-top: 45px;
  }

  .catalog__artists-container {
    max-height: 802px;
    flex-flow: column nowrap;
  }

  .catalog__tab {
    padding-top: 4px;
  }

  .catalog__artist-photo {
    margin-bottom: 18px;
  }

  .catalog__artist-name {
    margin-bottom: 10px;
  }

  .catalog__artist-period {
    margin-bottom: 7px;
  }

  .catalog__nothing {
    padding-left: 115px;
    background-image: url("../img/nothing-in-320.jpg");
    background-size: 90px 130px;
  }

  .catalog__nothing-title {
    font-size: 18px;
    line-height: 32px;
  }

  .catalog__nothing-descr {
    font-size: 16px;
    line-height: 22px;
  }

  .events {
    margin-bottom: 48px;
  }

  .events__slider-img {
    width: 100%;
  }

  .events__slide-content {
    padding-top: 15px;
    padding-left: 22px;
    padding-right: 18px;
  }

  .events__comment {
    margin-bottom: 10px;
  }

  .events__slide-title {
    margin-bottom: 5px;
  }

  .events__slide-descr {
    margin-bottom: 105px;
  }

  .events__slide-link {
    left: 28px;
    bottom: 50px;
  }

  .events__wrapper {
    margin-bottom: 18px;
  }

  .events__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 110px;
  }

  .projects {
    margin-bottom: 32px;
  }

  .projects__title {
    margin-bottom: 10px;
  }

  .projects__descr {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 32px;
  }

  .projects__subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 32px;
  }

  .projects__swiper-container {
    padding: 0 47px;
  }

  .projects__swiper-slide {
    height: 65px;
  }

  .projects__slider-img {
    max-width: 54%;
    max-height: 55%;
  }

  .projects__swiper-button-next,
  .projects__swiper-button-prev {
    top: 58%;
  }

  .contacts__container {
    padding-top: 18px;
    padding-bottom: 16px;
  }

  .contacts__place {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 25px;
  }

  .contacts__street {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__subtitle {
    margin-bottom: 7px;
  }

  .contacts__form {
    margin-bottom: 15px;
  }

  .contacts__input {
    width: 100%;
    margin-bottom: 20px;
  }

  .contacts__input input {
    max-height: 40px;
  }

  .contacts__input:nth-child(1) {
    margin-right: 0;
  }

  .contacts__form-button {
    padding: 10px 35px 12px;
    max-width: 128px;
    max-height: 40px;
    font-size: 12px;
    line-height: 16px;
  }

  .contacts__form-button--small {
    display: block;
  }

  .contacts__form-button--large {
    display: none;
  }

  .contacts__subtitle {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
  }

  .contacts__link svg {
    width: 50px;
    height: 50px;
  }

  .contacts__map {
    height: 320px;
  }

  .footer__container {
    padding-top: 20px;
    padding-bottom: 15px;
    flex-direction: column;
  }

  .footer__logo {
    order: 2;
  }

  .footer__socials {
    margin-bottom: 16px;
  }

  .footer__social svg {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 290px;
  }

  /* .header__container {
    max-width: 300px;
  } */

  
}